*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(../images/showcase.jpeg);
    font-family: monospace;
}
.navbar{
    display: flex;
    justify-content: space-between;
    
}
.right-side-navbar{
    margin-top: 30px;
    display: flex;
    font-weight: bold;
    margin-right: 20px;
    
}
.right-side-navbar a{
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 20px;
    color: black;
    
}
.brand-logo a img{
    width: 80%;
}
.left-side-navbar .brand-logo{
    margin: 20px 20px 20px 20px;
    
}
.body-margin{
    margin: 0px 10px 0px 10px;
    background-image: url(../images/background.jpg);
}
.welcome-image img{
    width: 100%;
}
.showcase-image > a > img{
    width: 100%;
}
.showcase-image a img:hover{
    opacity: .7;
    transition: .5s;
}
.showcase-image{
    padding: 0px 10px;
    margin-top: 10px;
}
.spotify-player{
    padding:0px 10px;
    margin-top: 10px;
}
.video{
    padding: 0px 10px;
    margin-top: 10px;
}
.video-message img{
    width: 100%;
    margin-top: 10px;
}
.video-message h3{
    color: wheat;
    text-align: center;
}
.video-message {
    margin-top: 10px;
}
.about-content{
    padding: 0px 10px;
    margin-top: 15px;
    color: wheat;
}
.about-content p{
    margin-top: 10px;
}
.about-content h3{
    text-align: center;
}
.about-image img{
    width: 100%;
    margin-top: 10px;
    
}
.about-image{
    padding: 0px 10px;
}
.merchline-logo a img{
    width: 100%;
    
}
.merchline-logo {
    padding: 0px 10px;
    margin-top: 10px;
}
.blackwhite-shirts a img{
    width: 100%;
}
.blackwhite-shirts{
    padding: 0px 10px;
}
.performance-article h2{
    color: wheat;
    text-align: center;
    margin-top: 20px;
}
.performance-article-1{
    display: flex;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.performance-article-1 .performance-image a img{
    width: 100%;
}
.performance-article-text1{
    width:50%;
    padding: 5px;
    color: wheat;
}
.performance-article-1:hover{
    background-color: gray;
    transition: .5s;
    
}
.performance-article-2{
    display: flex;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.performance-article-2 .performance-image a img{
    width: 100%;
}
.performance-article-text2{
    width:50%;
    padding: 5px;
    color: wheat;
}
.performance-article-2:hover{
    background-color: gray;
    transition: .5s;
    
}
.performance-article-3{
    display: flex;
    padding: 10px 10px;
    border-radius: 15px;
    margin-bottom: 10px;
}
.performance-article-3 .performance-image a img{
    width: 100%;
}
.performance-article-text3{
    width:50%;
    padding: 5px;
    color: wheat;
}
.performance-article-3:hover{
    background-color: gray;
    transition: .5s;
    
}
.footer{
    background-color: rgb(61, 61, 61);
}
.footer-section-about p{
    padding: 0px 10px;
    text-align: center;
    color: wheat;
}
.footer-logo{
    padding: 10px 10px;
}

.contact-details{
    font-size: 16px;
    color: wheat;
    text-align: center;
}
.footer-socmed-links{
    color: wheat;
    text-align: center;
    margin-top: 20px;
    
}
.footer-socmed-links a{
    text-decoration: none;

}
.footer-socmed-links a li{
    
    font-size: 16px;
    color: wheat;
    margin-bottom: 10px;

}
.contactform{
    padding: 0px 20px;
    margin-top: 30px;
}
.contactform h2{
    color: wheat;
    text-align: center;

}
.email-input{
    width: 70%;
    margin-bottom: 10px;
}
.text-input{
    height: 100px;
    width:100%;
    margin-bottom: 10px;

}
.button{
    width: 30%;;
}
.footer-bottom{
    background-color: whitesmoke;
    height: 10px;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}




/* TABLET / IPAD */





@media only screen and (min-width: 768px) {
    .right-side-navbar{
        margin-top: 40px;
        font-size: 18px;
    } 
    .video-message{
      margin-left: 10px;
      margin-top: 20px;
      margin-right: 10px;
    }
    .about-content{
        margin: 0px 30px;
        margin-top: 30px;
        margin-bottom: 20px;
    }
    
    .performance-article-1{
        margin: 0px 40px;
        margin-bottom: 10px;
    }
    .performance-article-text1{
        padding-left: 40px;
        padding-top: 20px;
        font-size: large;
    }
    .performance-article-2{
        margin: 0px 40px;
        margin-bottom: 10px;
    }
    .performance-article-text2{
        padding-left: 40px;
        padding-top: 20px;
        font-size: large;
    }
    .performance-article-3{
        margin: 0px 40px;
        margin-bottom: 10px;
    }
    .performance-article-text3{
        padding-left: 40px;
        padding-top: 20px;
        font-size: large;
    }
    .footer-content{
        position: relative;
    }
    .footer-section-about{
        width: 40%;
        color: wheat;
        padding: 0px 10px;
        margin-left: 40px;
    }
    .footer-socmed-links{
        position: absolute;
        right: 80px;
        top: 20px;
    }
    .email-input{
        width: 40%;
    }
}

/*  DESKTOP  */ 

@media only screen and (min-width: 1000px){
    .brand-logo{
        width: 100%;
    }
    .body-margin{
        margin: 0px 30px 0px 30px;
    }
    .left-side-navbar{
        margin-left: 30px;
    }
    .right-side-navbar{
        font-size: 20px;
        margin-top: 50px;
    }
    .right-side-navbar a{
        margin-right: 50px;
        
    }
    .right-side-navbar a:hover{
        font-size: 22px;
        color: red;
        border-bottom: 1px solid black;
        transition: .5s;
        
    }
    .showcase-content{
        display: flex;
        justify-content: space-between;
    }
    .showcase-image  a  img{
        width: 100%;
        margin-bottom: 10px;
    }
    .showcase-image{
        margin-left: 20px;
    }
    .spotify-player iframe{
        width: 320px;
        margin-right: 20px;
        height: 100%;
        
    }
    .video-content{
        display: flex;
        justify-content: space-between;
    }
   
    
    .video-message{
        margin-left: 10px;
        margin-right: 30px;
        margin-top: 30px;
        font-size: 16px;
    }
    .video-message {
          width: 30%;
    }
    .video{
        margin-top: 40px;
        margin-left: 20px;
        width:100%;
        
    }
    
    .about-container{
        display: flex;
        justify-content: space-between;
    }
    .about-content{
        width: 40%;
        margin-top: 40px;
        text-align: center;
        font-size: 18px;
        line-height: 1.6em;
    }
    .about-image{
        margin-right: 20px;
        margin-top: 20px;
        width: 80%;
    }
    .lower-content{
        display: flex;
        justify-content: space-between;
    }
    .performance-article{
        width: 100%;
        margin-top: 30px;
        
    }
    .shop-homepage{
        margin-left: 20px;
        width: 100%;
        margin-top: 20px;
    }
    .footer-content{
        display: flex;
    }
   
    .footer-socmed-links a{
        list-style: none;
    
    }

    .footer-content{
        position: static;
    }
    .footer-section-about p{
        text-align: left;
     
    }
    .contact-details{
        text-align: left;
    }
    .footer-socmed-links{
        position: static;
        right: 80px;
        top: 20px;
        text-align: left;
    }
    .email-input{
        width: 60%;
    }
    .contactform{
        margin-left: 30px;
    }
    .contactform > h2{
        text-align: left;
    }


    /*  SCREENS 1300PX AND OVER */
    
@media only screen and (min-width: 1300px){
    .body-margin{
        margin: 0px 50px 0px 50px;
    }
}
